## Main template used for generating an HTML email
##include message source for localization
#parse( '../i18n.vm' )
##parse( '../macros.vm' )

<html>

<head>
#parse( 'core/styles.vm' )
</head>

<body>

## Include the header
#parse( 'core/header.vm' )

<div class="main">

## Render the body
$body

</div>

## Render any links associated with this email
#parse( 'core/links.vm' )

## Include the footer
#parse( 'core/footer.vm' )
##showData()

</body>

</html>


#macro (renderRow $label $val $val2)
	#if (!$val2)
		#set ( $val2 = "" )
	#end

   #notEmpty($val)
   	<tr>
    	<td class="InfoTab-row-header" valign="top">#msg($label)</td>
		<td class="InfoTab-row-value">$val $val2</td>
    </tr>
   #end
#end

#macro (renderRowNoLabel $val_name $val $val2)
	#if (!$val2)
		#set ( $val2 = "" )
	#end

   #notEmpty($val)
   	<tr>
    	<td class="InfoTab-row-header" valign="top">$val_name</td>
		<td class="InfoTab-row-value">$val $val2</td>
    </tr>
   #end
#end

#macro (showData)
	<table border=1>
		#foreach( $key in $formData.keySet() )
			<tr>
				<td>$key</td> 
				<td>$formData.get($key)</td>
		 	</tr>
		#end
	</table>
#end
