## It seems that this scenario is for all built-in element (Virtual Machines) and XaaS elements and is for 
## approval mail generation
#set ( $keyPrefix = "source-source-" )
#parse( 'extensions/displayRequest.vm' )