## Basic machine properties
#set( $cpu = "#valueOf('VirtualMachine.CPU.Count')" )
#set( $memory = "#valueOf('VirtualMachine.Memory.Size')" )
#set( $leaseDays = "#valueOf('VirtualMachine.LeaseDays')" )

## Amazon Properties
#set ( $instanceType = "#valueOf('__amazon.instanceType')" )
#set ( $location = "#valueOf('Vrm.DataCenter.Location')" )

## Cost properties
#set( $minCost = "#valueOf('Cafe.Shim.VirtualMachine.MinCost')" )
#set( $maxCost = "#valueOf('Cafe.Shim.VirtualMachine.MaxCost')" )

#set( $isMulti = "#valueOf('__MultiMachine.Provision.NumberOfInstances')" )

<div class="layoutSection">
   <h2>#msg("notification.email.extensions.request.info")</h2>
   <table class="sectionGrid">
      <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.description")</td>
		<td class="InfoTab-row-value">#valueOf("Cafe.Shim.VirtualMachine.Description")</td>
      </tr>
      <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.reasons") </td>
		<td class="InfoTab-row-value">#valueOf("Cafe.Shim.VirtualMachine.Reason")</td>
      </tr>
      #if( $minCost > 0 && $maxCost > 0 )
      <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.cost")</td>
		<td class="InfoTab-row-value">$minCost - $maxCost</td>
      </tr>
      #end
   </table>
</div>

<div class="layoutSection">
   <h2>#msg("notification.email.extensions.machine.details")</h2>
   <table class="sectionGrid">
      #notEmpty ($leaseDays)
      <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.lease.duration")</td>
		<td class="InfoTab-row-value">
               #if( $leaseDays != "0" )
                  $leaseDays #msg("notification.email.extensions.lease.unit")
               #else
                  #msg("notification.email.extensions.lease.indefinite")
               #end
            </td>
      </tr>
      #end
      #notEmpty ($cpu)
      <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.cpus")</td>
		<td class="InfoTab-row-value">$cpu</td>
      </tr>
      #end
      #notEmpty ($memory)
      <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.memory")</td>
		<td class="InfoTab-row-value">$memory MB</td>
      </tr>
      #end
      #foreach($i in [0..9])
         #set( $key = "VirtualMachine.Disk${i}.Size" )
         #set( $diskSize = "#valueOf($key)" )
         #notEmpty ($diskSize)
         <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.disk.size", [$1])</td>
		<td class="InfoTab-row-value">$diskSize GB</td>
         </tr>
         #end
      #end
   </table>
</div>

#notEmpty ($instanceType)
<div class="layoutSection">
   <h2>#msg("notification.email.extensions.amazon.ec2.info")</h2>
   <table class="sectionGrid">
      <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.instance.type")</td>
		<td class="InfoTab-row-value">$instanceType</td>
      </tr>
   </table>
   <table class="sectionGrid">
      <col class="layoutColumn" />
      <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.location")</td>
		<td class="InfoTab-row-value">$location</td>
      </tr>
   </table>
</div>
#end

#notEmpty ($isMulti)
   <h1>#msg("notification.email.extensions.multimachine.details")</h1>
   #foreach ($m in [0..9])
      #set( $cpuKey = "ASCT-${m}.VirtualMachine.CPU.Count" )
      #set( $memKey = "ASCT-${m}.VirtualMachine.Memory.Size" )
      #set( $locationKey = "ASCT-${m}.Vrm.DataCenter.Location" )
      #set( $instanceTypeKey = "ASCT-${m}.__amazon.instanceType" )
      #set( $descKey = "ASCT-${m}.__Notes")

      #set( $mmCpu = "#valueOf($cpuKey)" )
      #set( $mmMem = "#valueOf($memKey)" )
      #set( $mmLocation = "#valueOf($locationKey)" )
      #set( $mmInstanceType = "#valueOf($instanceTypeKey)" )
      #set( $mmDesc = "#valueOf($descKey)" )

      #notEmpty ($mmCpu)
      <div class="layoutSection">
         <h2>#msg("notification.email.extensions.components.details", [$m])</h2>
         <table class="sectionGrid">
            #notEmpty ($mmDesc)
            <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.description")</td>
		<td class="InfoTab-row-value">$mmDesc</div>
               </td>
            </tr>
            #end
            #notEmpty ($mmCpu)
            <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.cpus")</td>
		<td class="InfoTab-row-value">$mmCpu</div>
               </td>
            </tr>
            #end
            #notEmpty ($mmMem)
            <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.memory")</td>
		<td class="InfoTab-row-value">$mmMem MB</div>
               </td>
            </tr>
            #end
            #notEmpty ($mmLocation)
            <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.instance.type")</td>
		<td class="InfoTab-row-value">$mmInstanceType</div>
               </td>
            </tr>
            <tr>
    	<td class="InfoTab-row-header" valign="top">#msg("notification.email.extensions.location")</td>
		<td class="InfoTab-row-value">$mmLocation</div>
               </td>
            </tr>
            #end
         </table>
      </div>
      #end
   #end
#end
