#if( !$resourceAction || "$!resourceAction" == "" )
	#break
#end

#parse( 'extensions/request_generalInfo.vm' )
</table><br/>
#parse( 'extensions/request_resourceAction_resource.vm' )
#parse ( 'extensions/url_details.vm' )
## Don't know why there's a "stop" here... maybe to avoid to handle data twice
#stop