## General request info
## This is displayed in "Request information" part of the email.

#if( !$resourceAction || "$!resourceAction" == "" )
  #set( $request_leasePeriod = "#valueOf('requestLeasePeriod')" )
  #if( "$!request_leasePeriod" == "" || "$!request_leasePeriod.trim()" == "" )  
    #set( $requestIsQuoteProvided = $formData.get("${keyPrefix}requestIsQuoteProvided") ) 
    #if( "$!requestIsQuoteProvided" != "" && $requestIsQuoteProvided )  
      #set( $request_leasePeriod = "#msg('notification.email.extensions.request.unlimited')" )
    #end
  #end
#end


## Looking for data we need to build mail

## We try to look for URL in "Details"
#set( $form_url = $formData.get("Details") )
#if ( "$!form_url" == "")
  ## Info is not in "Details", we look into "workItemShellUrl"
  #set( $form_url = $formData.get("workItemShellUrl") )
#end

## $form_url will now contains something like this:
## https://vsissp-vra-test.epfl.ch/vcac/org/EPFL/#csp.cs.ui.deployment.detail%5BrouteParams:=27e3f681-61c0-41dd-8c80-27f2d7e8123e

## We have to transform it into a "real" String before calling "split". If we don't do this, we won't have any error and the function call will just... not work... #facepalm
## In fact $form_url is class of StringLiteral....
#set($parts = $form_url.toString().split("/") )
#set($tenant_name = $parts[5])

<h2>#msg("notification.email.extensions.request.info") </h2>
<br/>

##This is special case handling for scale-out/In emails, they have different template than regualar action emails.
#if( $resourceAction == "{com.vmware.csp.component.cafe.composition@resource.action.deployment.scaleout.name}")
    #parse( 'extensions/request_scaleOutAction.vm' )
#end

#if( $resourceAction == "{com.vmware.csp.component.cafe.composition@resource.action.deployment.scalein.name}")
    #parse( 'extensions/request_scaleInAction.vm' )
#end

## Adding Scenario ID in email, just to help to develop things
<!-- Scenario: $scenario -->

<table class="sectionGrid">
  #renderRowNoLabelMapping("Tenant", $tenant_name)
  
  #if ( $tenant_name == "EPFL" )
    #renderRowComponent("Unit ID", $keyPrefix, "ch.epfl.unit.id" )
  #else
    #renderRowComponent("ServiceNow svc ID", $keyPrefix, "ch.epfl.snow.svc.id" )
  #end
  
  #renderRow("notification.email.extensions.deployment", "#valueOf('catalogItem-Name')")
  #renderRow("notification.email.extensions.action", $resourceAction_Name)
  #renderRow("notification.email.extensions.request.requestedBy", "#valueOf('requestedBy')")
  #renderRowNoLabelMapping("Requested for email address", $formData.get("${keyPrefix}provider-ch.epfl.owner_mail"))
  #renderRow("notification.email.extensions.request.requestDate", "#valueOf('requestedDate')")
  #renderRow("notification.email.extensions.description", "#valueOf('description')")
  #renderRow("notification.email.extensions.request.reason", "#valueOf('reasons')")
  #renderRow("notification.email.extensions.request.numberOfInstances", "#valueOf('_number_of_instances')")
  #renderRowComponent("DMZ", $keyPrefix, "ch.epfl.iaas.dmz.enabled" )
  #renderRow("notification.email.extensions.request.estimatedLeasePrice", "#valueOf('requestLeaseCost')")
  #renderRow("notification.email.extensions.request.leasePeriod", $request_leasePeriod)
  #renderRow("notification.email.extensions.request.totalPrice", "#valueOf('requestTotalLeaseCost')")
